In [1]:
from databricks.connect import DatabricksSession
from pyspark.sql.functions import *
spark = DatabricksSession.builder.getOrCreate()

In [2]:
df = spark.read.table("samples.nyctaxi.trips")
df.show(15)

+--------------------+---------------------+-------------+-----------+----------+-----------+
|tpep_pickup_datetime|tpep_dropoff_datetime|trip_distance|fare_amount|pickup_zip|dropoff_zip|
+--------------------+---------------------+-------------+-----------+----------+-----------+
| 2016-02-13 21:47:53|  2016-02-13 21:57:15|          1.4|        8.0|     10103|      10110|
| 2016-02-13 18:29:09|  2016-02-13 18:37:23|         1.31|        7.5|     10023|      10023|
| 2016-02-06 19:40:58|  2016-02-06 19:52:32|          1.8|        9.5|     10001|      10018|
| 2016-02-12 19:06:43|  2016-02-12 19:20:54|          2.3|       11.5|     10044|      10111|
| 2016-02-23 10:27:56|  2016-02-23 10:58:33|          2.6|       18.5|     10199|      10022|
| 2016-02-13 00:41:43|  2016-02-13 00:46:52|          1.4|        6.5|     10023|      10069|
| 2016-02-18 23:49:53|  2016-02-19 00:12:53|         10.4|       31.0|     11371|      10003|
| 2016-02-18 20:21:45|  2016-02-18 20:38:23|        10.15|       28.5|     11371|      11201|
| 2016-02-03 10:47:50|  2016-02-03 11:07:06|         3.27|       15.0|     10014|      10023|
| 2016-02-19 01:26:39|  2016-02-19 01:40:01|         4.42|       15.0|     10003|      11222|
| 2016-02-12 00:19:38|  2016-02-12 00:34:59|          3.5|       13.5|     10012|      10018|
| 2016-02-18 07:32:18|  2016-02-18 07:37:16|          1.1|        6.0|     10009|      10110|
| 2016-02-24 13:58:21|  2016-02-24 14:13:02|          1.1|       10.0|     10119|      10017|
| 2016-02-29 11:36:24|  2016-02-29 11:47:16|         0.93|        8.0|     10065|      10167|
| 2016-02-12 15:55:09|  2016-02-12 16:05:16|         1.63|        9.0|     10021|      10023|
+--------------------+---------------------+-------------+-----------+----------+-----------+
only showing top 15 rows

In [ ]:
print(df.count())

In [3]:
df_bronze = spark.table("gannychan.mc_demo.taxi_demo_bronze")
display(df_bronze)

DataFrame[vendor: string, pickup_datetime: timestamp, dropoff_datetime: timestamp, passenger_count: int, trip_distance: double, pickup_longitude: double, pickup_latitude: double, rate_code: string, store_and_forward: string, dropoff_longitude: double, dropoff_latitude: double, payment_type: string, fare_amount: double, surcharge: double, mta_tax: double, tip_amount: double, tolls_amount: double, total_amount: double]

In [4]:
from pyspark.sql.types import *

In [5]:
nyc_schema = StructType(
        [
            StructField("vendor", StringType(), True),
            StructField("pickup_datetime", TimestampType(), True),
            StructField("dropoff_datetime", TimestampType(), True),
            StructField("passenger_count", IntegerType(), True),
            StructField("trip_distance", DoubleType(), True),
            StructField("pickup_longitude", DoubleType(), True),
            StructField("pickup_latitude", DoubleType(), True),
            StructField("rate_code", StringType(), True),
            StructField("store_and_forward", StringType(), True),
            StructField("dropoff_longitude", DoubleType(), True),
            StructField("dropoff_latitude", DoubleType(), True),
            StructField("payment_type", StringType(), True),
            StructField("fare_amount", DoubleType(), True),
            StructField("surcharge", DoubleType(), True),
            StructField("mta_tax", DoubleType(), True),
            StructField("tip_amount", DoubleType(), True),
            StructField("tolls_amount", DoubleType(), True),
            StructField("total_amount", DoubleType(), True),
        ]
    )

In [6]:
yellow = (
        spark.read.format("csv")
        .options(header=True)
        .schema(nyc_schema)
        .load(
            "dbfs:/databricks-datasets/nyctaxi/tripdata/yellow/yellow_tripdata_2019-12.csv.gz"
        )
    )

green = (
        spark.read.format("csv")
        .options(header=True)
        .schema(nyc_schema)
        .load(
            "dbfs:/databricks-datasets/nyctaxi/tripdata/green/green_tripdata_2019-12.csv.gz"
        )
    )

df_color = yellow.unionAll(green)
display(df_color)

DataFrame[vendor: string, pickup_datetime: timestamp, dropoff_datetime: timestamp, passenger_count: int, trip_distance: double, pickup_longitude: double, pickup_latitude: double, rate_code: string, store_and_forward: string, dropoff_longitude: double, dropoff_latitude: double, payment_type: string, fare_amount: double, surcharge: double, mta_tax: double, tip_amount: double, tolls_amount: double, total_amount: double]